.git
.github
.env
node_modules
vendor
public/build
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
npm-debug.log
yarn-error.log
.idea
.vscode
docker-compose.yml
Dockerfile
